label {
  display: block;
  margin-bottom: 0.5em;
}

input[type=text]{
  margin-top: 10px;
  padding:12px;
  font-size: 0.9em;
}

.add-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.add-member-form-button{
  padding:12px;
}
