.member-list {
  list-style: none;
  padding: 2em 0 2em 3.5em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2.5%;
}

.member-list li {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
  flex-basis: 30%;
  text-align: center;
}

.member-list-message{
  padding-top: 80px;
}